.form{
  background: var(--background-default);
  border-radius: var(--space-16);
  padding: var(--space-16);
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  box-shadow: 0 5px 40px 0 rgba(0,0,0,0.3);
  display: flex;
}
.formIntro {
  display: grid;
  grid-template-columns: 1fr;
  flex: 1 1 0px;
  margin-right: 10px;
}
.layer {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
}

.formBody{
  flex: 1 1 0px;
  padding: var(--space-16);
  margin-left: 10px;
  overflow-y: auto;
}

@media(max-width: 800px){
  .form{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
@media(max-width: 650px){
  .formIntro{
    display: none;
  }
}

.tos{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  max-width: 900px;
  max-height: 700px;
  border-radius: var(--space-16);
  padding: var(--space-16);
  z-index: 10;
  background: var(--background-default);
  box-shadow: 0 0 0 100vw rgba(0,0,0,0.3);
  overflow-y: auto;
}
.tosrow{
  display: flex;
  align-items: center;
}
.tosrow > p{
  margin-left: 10px;
}
.error{
  color: var(--accent-negative-default);
  background: var(--accent-negative-overlay);
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
}
.elist{
  margin: 5px 0;
}

.checkboxField {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 17.5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: flex-start;
}

/* Hide the browser's default checkbox */
.checkboxField input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--white-stronger);
  border-radius: 3px;
}

.checkboxField:hover input~.checkmark {
  background-color: var(--white-default);
}

.checkboxField input:checked~.checkmark {
  background-color: var(--accent-primary-default);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxField input:checked~.checkmark:after {
  display: block;
}

.checkboxField .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--white-strongest);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.submitButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadSubmit{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid transparent 3px;
  border-top: white 3px solid;
  display: block;
  animation: spin 0.5s infinite;
  margin-left: 10px;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}